.aboutSection{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column; 
        width: 30%;
        margin: auto;
}

.aboutSection input[type="submit"] {
    background-color: #103732;
    padding: 1rem;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.aboutSection input[type="submit"]:hover {
    background-color: #019949;
  }
  