.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .popup button {
    margin-top: 10px;
  }
  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 6rem; 
    padding-right: 6rem;
  }
  
  .product-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    background-color: #F8FFFA;
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .product-image img {
    max-width: 70%;
    height: auto;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-details h2 {
    margin-bottom: 10px; 
  }
  
