/*styles for Navbar.js*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #019949;
}

#navbar li a:hover::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #019949;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobileVersion {
  display: none;
}

#mobileVersion i {
  color: #039a4a;
  align-items: center;
}

@media screen and (max-width:769px) {
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #44B678;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #mobileVersion {
    display: block;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar i {
    font-size: 24px;
    cursor: pointer;
  }
}

/*Styles for Home.js*/
.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  gap: 1rem;
}

.aboutSection #explore-btn {
  background-color: #103732;
  padding: 1rem;
  color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: .9rem;
  margin: 4px 2px;
  cursor: pointer;
}

.aboutSection #explore-btn:hover {
  background-color: #019949;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.aboutSection #explore-btn:focus {
  background-color: #019949;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 32vw;
}

.popup button {
  margin-top: 10px;
  float: right;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 6rem;
}

.product-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #F8FFFA;
  padding: 20px;
  box-sizing: border-box;
}

.product-image img {
  max-width: 70%;
  height: auto;
}

.product-details {
  margin-top: 10px;
}

.product-details h2 {
  margin-bottom: 10px;
}

/*Styles for footer.js*/



@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1rem 1rem;
  }

  .product-card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}